@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

div {
    display: block;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

/*NAVIGATION*/

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 40px;
    margin-right: 12px;
}

.logo__txt {
    font-weight: 900;
    font-size: 1.5rem;
}

.nav__link--list {
    display: flex;
}

.nav__link {
    margin-left: 16px;
}

.login {
    margin-left: 40px;
}
