@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.purple__txt {
    color: #7342d6;
}

div {
    display: block;
}

a, a:link, a:visited {
    text-decoration: none;
    position: relative;
    color: grey;
}

a:visited {
    text-decoration: none;
}


li {
    list-style: none;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.25;
    color: rgb(26 32 44);
}

p {
    display: block;
}


/*NAVIGATION*/

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 40px;
    margin-right: 12px;
}

.logo__txt {
    font-weight: 1000;
    font-size: 1.5rem;
    color: rgb(4, 4, 56);
}

.logo__txt:hover {
    color: #7342d6;
}

.nav__link--list {
    display: flex;
    align-items: center;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    color: grey;
}

.login a{
    margin-left: 40px;
}

.nav__link--anchor--primary a{
    background-color: #7342d6;
    padding: 10px 28px;
    border-radius: 50px;
    transition: all 300ms ease;
    color: white;
}

.nav__link--anchor {
    margin: 0 12px;
    text-decoration: none;
    font-weight: 400;
    color: grey;
}

.link__hover-effect:hover a{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    color: #7342d6;
    text-underline-offset: 8px;
}

/*LANDING*/

.container {
    padding: 80px 0;
}

.get__started {
    display: flex;
    flex-direction: column;
    width: 40%;
    flex: 1;
}

.trusted__customers {
    width: 40%;
}

.landing__txt {
    padding-top: 32px;
    padding-bottom: 32px;
    color: rgb(36 62 99);
    font-size: 1.125rem;
    opacity: 0.8;
    line-height: 150%;
}

.two__columns {
    display: flex;
}

.st__button{
    background-color: #7342d6;
    padding: 10px 28px;
    border-radius: 50px;
    transition: all 300ms ease;
    color: white;
    border: none;
    font-weight: bold;
    margin-left: -135px;
    position: relative;
    cursor: pointer;
    height: 55px;
    font-weight: bold;
}

.enter__email {
    padding: 10px 28px;
    border-radius: 50px;
    opacity: 0.5;
    padding-right: 50px;
    width: 80%;
    height: 70px;
    margin-bottom: 80px;
}

.trusted__customers {
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    opacity: 0.5;
}

.customers {
    display: flex;
    width: 100%;
    padding-top: 16px;
}

.design__logo {
    display: flex;
    width: 60%;
}

.design__img {
    width: 100%;
}

/*FEATURES*/

.feature__header {
    justify-content: center;
    text-align: center;
}

.feature__para {
    font-size: 1.25rem;
    padding-top: 16px;
    margin: 0 auto;
    padding-left: 25%;
    padding-right: 25%;
    line-height: 1.25;
    opacity: 0.5;
}